.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000a4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-wrap {
  position: relative;
}
.photo-box {
  max-height: 80vh;
  max-width: 80vw;
  border: 2px solid #9b8808 ;
  border-radius: 8px;
}

.close-btn-wrap {
  display: inline-block;
  background-color: rgb(128, 42, 42);
  border: 2px solid #9b8808;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(0);
  transition: 0.4s;
}

.close-btn-wrap:hover {
  transform: translate(50%, -50%) rotate(90deg);
}

.close-btn {
  display: block;
  font-size: 44px;
  color: rgb(255, 255, 255);
}

@media (max-width: 520px) {
  .close-btn-wrap {
    width: 40px;
    height: 40px;
  }
  .close-btn {
    font-size: 30px;
  }
}
