.saloon-info-wrap {
    flex-basis: 45%;
}

.district-name {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.saloon-info {
    font-size: 23px;
    padding: 25px 40px;
    border: 1px solid #9b8808;
}
.number, .address {
    display: flex;
    align-items: center;
    align-content: center;
}

.number-text, .address-text {
    padding-left: 15px;
}

.icon-wrap {
    margin-right: 15px;
}
