.services {
    min-height: 100vh;
    background-image: url('../../assets/saloons-bg.jpg');
    background-size: cover;
    border-bottom: 5px solid #9b8808;
}

.saloons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.location-text {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

@media(max-width:850px) {
   .saloons {
       justify-content: space-between;
       flex-direction: column;
   }
}

@media(max-width: 730px) {
    .services {
      background-image: url("../../assets/saloons-bg-mobile.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
}