.services {
    min-height: 100vh;
    background-image: url('../../assets/maps-bg.jpg');
    background-size: cover;
    border-bottom: 5px solid #9b8808;
}

.maps-box {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1010px) {
  .maps-box {
      flex-direction: column;
  }
  }