.btn {
    padding: 15px 45px;
    font-size: 25px;
    font-family: 'Eczar', serif;;
    background-color: #202E20;
    color: #fff;
    border: 2px solid #9B8808 ;
    cursor: pointer;
    transition: 0.3s;
    line-height: 1;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #2e5c2e ;
}