.main-page {
    min-height: 100vh;
    background-image: url('../../assets/main-page-bg.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #9b8808;
    background-repeat: no-repeat;
}

