.header {
    font-size: 50px;
    padding: 44px 0;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width:750px){
    .header {
        font-size: 40px;
    }
}

@media(max-width:500px){
    .header {
        font-size: 30px;
    }
}