.services {
  min-height: 100vh;
  background-image: url("../../assets/prices-bg.jpg");
  background-size: cover;
  border-bottom: 5px solid #9b8808;
}

.price-list-wrapper {
  padding: 15px 40px;
  margin: 0 auto;
  width: 800px;
  border: 2px solid #9b8808;
  background-color: rgba(0, 0, 0, 0.568);
  margin-bottom: 25px;
}

.icon {
  display: block;
  margin: 30px auto 0;
  animation-name: arrowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  cursor: pointer;
}

@keyframes arrowMove {
  from {transform: translateY(0);}
  to {transform: translateY(-15px);}
}

@media(max-width: 950px) {
  .price-list-wrapper {
    padding: 10px 20px;
    max-width: 80vw;
    background-color: rgba(0, 0, 0, 0.801);
    margin-bottom: 30px;
  }
}

@media(max-width: 730px) {
.price-list-wrapper {
  margin-top:40px;
}
}

@media(max-width: 575px) {
  .price-list-wrapper {
    padding: 10px 8px;
    max-width: 90vw;
    margin-bottom: 30px;
  }
}

