.footer {
    border-top: 3px solid #9b8808;
}

.footer-text {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.socials-wrap {
    display: flex;
    justify-content: center;
}

.socials-wrap svg {
    margin: 0 10px;
    cursor: pointer;
}

