.footer {
    border-top: 3px solid #9b8808;
    padding: 15px;
    margin-top: 20px;
}

.footer-text {
    color: white;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.socials-wrap {
    display: flex;
    justify-content: center;
}

.socials-wrap a {
    line-height: 1;
    display: block;
    transform: scale(1);
    transition: .3s;
}

.socials-wrap a:hover {
    transform: scale(1.05);
}

.svg {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

@media(max-width: 680px) {
    .footer-text {
        display: none;
    }
}