.header {
  font-size: 45px;
  line-height: 1;
  font-weight: normal;
}

.icon {
  display: block;
  margin: 20px auto;
  animation-name: arrowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes arrowMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}

@media (max-width: 950px) {
  .header {
    font-size: 35px;
    line-height: 1;
    font-weight: normal;
  }

  .icon {
    margin: 5px auto;
    width: 25px;
  }
}

@media (max-width: 540px) {
  .header {
    font-size: 30px;
  }

  .icon {
    margin: 8px auto;
    width: 22px;
  }
}